/* setting variables for the text, borders, background, and padding */
:root {
    --lightText: rgb(255, 228, 196);
    --darkText: rgb(8, 8, 56);
    --lightBorderColor: rgb(138, 154, 189);
    --darkBorderColor: rgb(78, 94, 146);
    --lightBackground: rgb(231, 231, 243);
    --darkBackground: rgb(57, 56, 86);
    --thinPadding: 10px;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

header {
    padding: var(--thinPadding);
    background: var(--darkBackground);
}

/* formatting for headshot photo */
.photo {
    border: 3px solid var(--lightBorderColor);
    border-radius: 15%;
    width: 100px;
}

h1 {
    color: var(--lightText);
    font-size: 48px;
    align-self: flex-end;
}

a {
    color: var(--darkText);
}

/* Element formatted as a flex-box */
.internalLinks ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--thinPadding);
    border: 5px solid var(--darkBorderColor);
    text-align: center;
    background: var(--lightBackground);
    font-size: 20px;
}

.portfolioInfo {
    font-size: 20px;
}

#about-me, #contact-information {
    margin: 10px, 0px, 10px, 0px;
    background: var(--darkBackground);
    color: var(--lightText)
}

#myWork, #contact-information {
    text-align: center;
}
.projectName {
    font-size: 16px;
}
.firstProject {
    width: 100%;
    padding: var(--thinPadding);
    border: 5px solid var(--darkBorderColor);
    text-align: center;
    background: var(--lightBackground);
}

#accessibleWebsite {
    width: 100%;
}

/* Element formatted as a flex-box */
.additionalProjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--thinPadding);
    border: 5px solid var(--darkBorderColor);
    text-align: center;
    background: var(--lightBackground);
    max-width: 100%;
}

#project_2, #project_3, #project_4 {
    max-width: 50%;
}

#groupProject, #placeholder1, #placeholder2 {
    width: 100%;
}

/* media query directing size of flex-box elements when there is a smaller screen */
@media screen and (max-width: 720px) {
    #project_2, #project_3, #project_4 {
        width: 33%;
    }
}
